@charset "UTF-8";
/* line 1 */
.flex {
  -webkit-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* line 8 */
.row {
  margin-left: 0px;
}

.spacer {
  padding: 25px;
}

.md-body-1 {
    font-size: 14px;
    line-height: 20px;
}

.md-body-1, .md-subhead {
    font-weight: 400;
    letter-spacing: .01em;
}

.md-headline {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

/* line 12 */
nav {
  margin: -8px;
}
/* line 14 */
nav a {
  color: #1d2129;
}

/* line 21 */
body {
  font: 100% Helvetica,sans-serif;
  color: #1d2129;
  font-family: ‘Roboto’,sans-serif;
  background: #fafafa;
}

/* line 27 */
.footer {
  text-align: center;
}

/* line 30 */
h1 {
  font-size: 34px;
}

/* line 33 */
p {
  font-size: 1.8rem;
}

/* line 37 */
li {
  font-size: 1.5rem;
  margin-bottom: 1.0rem;
}

/* line 42 */
a {
  color: #00acf1;
}

/* line 45 */
a.button {
  background-color: #00acf1;
  border: 0.1rem solid #00acf1;
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 43px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: 0;
  padding: 4px 23px;
  margin: 6px 8px;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 81 */
a.button.button-invert {
  background: transparent;
  color: #fff;
  border: 0.1rem solid #fff;
}

/* line 88 */
.container {
  background: #fff;
  margin: 50px auto;
  max-width: 100rem;
  max-width: 880px;
  padding: 2.0rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

/* line 99 */
.nav-bar {
  position: fixed !important;
  align-items: center;
  height: 70px;
  top: 0;
  padding: 17px 5px;
  z-index: 3;
  background-color: #fff;
  color: #1d2129;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  z-index: 2;
  font-size: 20px;
  min-height: 64px;
  width: 100%;
}
/* line 118 */
.nav-bar img {
  margin-left: 54px;
  max-height: 22px;
  padding-top: 4px;
}
/* line 123 */
.nav-bar .items-container {
  font-size: 18px;
  letter-spacing: .005em;
  box-sizing: border-box;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  max-width: 350px;
  height: 64px;
  max-height: 64px;
  padding: 0 16px;
  margin: 0;
}
/* line 145 */
.nav-bar .nav-item {
  margin: 1.0rem;
  list-style: none;
}

/* line 151 */
.home-view .hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/servers_room-wallpaper-2560x1600.jpg);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/servers_room-wallpaper-2560x1600.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/servers_room-wallpaper-2560x1600.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/servers_room-wallpaper-2560x1600.jpg);
  position: relative;
  -webkit-box-shadow: inset 0 -3px 6px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 -3px 6px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 -3px 6px 0 rgba(0, 0, 0, 0.4);
  padding: 14% 0 9%;
  margin: -25px -8px 25px;
}
/* line 166 */
.home-view .hero .content {
  background-color: transparent;
  box-shadow: 0 0;
  text-align: center;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}
/* line 174 */
.home-view .hero h2 {
  font-size: 76px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  letter-spacing: 1.25px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
/* line 184 */
.home-view .hero h3 {
  margin: 0 0 50px;
  letter-spacing: 1.25px;
  color: #fff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* line 192 */
.top-vdr-list {
  font-size: 1.75rem;
}

/* line 198 */
.product-container .img-logo {
  height: 100%;
  max-height: 60px;
}

/* line 203 */
.product-header-left {
  border-right: 1px solid #ddd;
  margin-right: 15px;
  margin-left: 25px;
}

/* line 209 */
.intended-users-left {
  border-right: 1px solid #ddd;
  margin-right: 15px;
}

/* line 214 */
.intended-users-right {
  margin-right: 10px;
}

/* line 218 */
.product-content-block {
  margin-right: 10px;
  margin-left: 10px;
}

/* line 223 */
.productpage-logo {
  border: solid black 1px;
}

/* line 227 */
div.header-review-summary {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* line 232 */
div.header-user-summary {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* line 237 */
div.feature-column {
  max-width: 300px;
  border-right: 1px solid #ddd;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 15px;
}

/* ****************  Product Table  ************ */
/* line 249 */
.table-container {
  margin: 0 auto;
}

/* line 254 */
.plans-table {
  margin: 0 auto;
  text-align: center;
}

/* line 259 */
.plans-table td.plan-name {
  background-color: #eee;
}

/* line 263 */
.plans-table .row-name p {
  text-align: right;
  padding-right: 3px;
}

/* line 268 */
.plans-table td, .plans-table th {
  padding-left: 4px;
  padding-right: 4px;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

/* line 275 */
.plans-table td {
  background-color: #fff;
}

/* line 279 */
.plans-table td.row-name {
  background-color: #eaf8ff;
}

/* line 283 */
.plans-table .plan-price-block {
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  /* line 289 */
  .home-view .hero {
    height: 100%;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  /* line 298 */
  .nav-bar img {
    margin: 0px;
  }
  /* line 301 */
  .nav-bar .items-container {
    font-size: 11px;
  }
  /* line 304 */
  .nav-bar .nav-item {
    margin: 0.8rem;
  }
}
