<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />


    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico?v=2" type="image/x-icon">

    <meta property="og:url"                content="https://dataroomsearch.com" />
    <meta property="og:site_name"          content="DataRoomSearch"/>
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{% block og_title %}{% endblock %}"/>
    <meta property="og:description"        content="{% block og_description %}{% endblock %}">
    <meta property="og:image"              content="https://dataroomsearch.com/images/dataroomsearch-share.jpg"/>
    <meta property="og:image:width"        content="1200"/>
    <meta property="og:image:height"       content="622"/>
    <meta property="fb:app_id"             content="1600077343403234"/>

    <style type="text/css">
      {% include "css/vendor.css" %}
    </style>
    <style type="text/css">
      {% include "css/custom.css" %}
    </style>
    {{ share.load() }}
  </head>
  <nav>
    <ul class="nav-bar">
      <span>
        <a href="/">
          <img src="https://dataroomsearch.com/images/dataroomsearch-logo.jpg">
        </a>
      </span>
      <span class="flex"></span>
      <span class="items-container row">
        <li class="nav-item"><a href="/#data-room-providers">Data Room Services</a></li>
        <li class="nav-item"><a href="/#guide">VDR Guide</a></li>
      </span>
    </ul>
  </nav>
  <body>
      {% block body %}
      {% endblock %}
      <footer class="footer">
        <p>© 2018 dataroomsearch.com</p>
      </footer>
      <!-- /container -->
  </body>
</html> 