<!DOCTYPE html>
<html ⚡>
    <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />

    {% block amp_link %}{% endblock %}
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico?v=2" type="image/x-icon">

    <meta property="og:url"                content="https://dataroomsearch.com" />
    <meta property="og:site_name"          content="DataRoomSearch"/>
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{% block og_title %}{% endblock %}"/>
    <meta property="og:description"        content="{% block og_description %}{% endblock %}">
    <meta property="og:image"              content="https://dataroomsearch.com/images/dataroomsearch-share.jpg"/>
    <meta property="og:image:width"        content="1200"/>
    <meta property="og:image:height"       content="622"/>
    <meta property="fb:app_id"             content="1600077343403234"/>

    <style type="text/css" amp-custom>
      {% include "css/vendor.css" %}

      {% include "css/custom.css" %}
    </style>
  </head>

  <body>
    <nav>
      <ul class="nav-bar">
        <span>
          <a href="/">
            <amp-img layout="fixed-height" height="15" src="https://dataroomsearch.com/images/dataroomsearch-logo.png">
          </a>
        </span>
        <span class="flex"></span>
        <span class="items-container row">
          <li class="nav-item"><a href="/#data-room-providers">Data Room Services</a></li>
          <li class="nav-item"><a href="/#guide">VDR Guide</a></li>
        </span>
      </ul>
    </nav>
      {% block body %}
      {% endblock %}
      <footer class="footer">
        <p>© 2018 dataroomsearch.com</p>
      </footer>
      <!-- /container -->
  </body>
</html> 