{% extends "base-amp.html" %}
{% block title %}2018 Best Virtual Data Rooms Comparison - Reviews, Pricing, &amp; Research Guide{% endblock %}
{% block description %}Compare virtual data room providers using up to date pricing info, user reviews, and feature summaries. Read comprehensive buyer's guides and research to learn everything you need about data room providers and their products.{% endblock %}
{% block og_title %}2018 Best Virtual Data Rooms Comparison - Reviews, Pricing, &amp; Research Guide{% endblock %}
{% block og_description %}Business owners! Security and efficient workflows are critical to successful M&amp;A and client relationships and industry compliance. DataRoomSearch compares virtual data room reviews, pricing, and features. {% endblock %}
{% block body %}
<div style="line-height: 1.5;" id="homeView" class="home-view">
      <!-- Section 1: Hero -->
      <section class="hero">
      	<div class="content">
      		<div class="">
      			<h2>Virtual Data Rooms</h2>
      			<h3 class="md-display-1">compare reviews of the top data room services</h3>			            
            <a href="#guides" class="button button-invert">Buyer's Guide</a>
            <a href="#dataroomlist" class="button">Data Rooms</a>
      		</div>
      	</div>
      </section>
      <section id="guides" class="container">
        <div>
          <div>
            <div>
              <h1 class="md-display-1">Comparison of the Best Virtual Data Rooms for 2018</h1>
                </div>
              </div>
              <span></span>
              <div style="padding: 46px;">
                <div>
                  <amp-img layout="fixed-height" height="15" style="border-radius:50%;width:50px;border:1px solid #00aded;" src="images/james.png">
                  <span class="share-text" style="position: absolute;padding: 15px 10px;font-size: 1.25rem;">Updated March 11, 2018 by James Prescott, Security Consultant</span>
                  <!--
                  <div style="padding-top:20px;">
                      <a class="font-bold" style="cursor: pointer;"
                              rel="nofollow"
                              socialshare
                              socialshare-provider="facebook"
                              socialshare-type="sharer"
                              socialshare-via="1600077343403234"
                              socialshare-media="https://dataroomsearch.com/images/dataroomsearch-share.jpg" 
                              socialshare-hashtags="#virtualdatarooms, #datarooms, #enterprisesecurity, #cybersecurity"
                              socialshare-title="The Complete Virtual Data Room Services Guide for 2018"
                              socialshare-mobileiframe = "true"
                              socialshare-caption="Attention new business owners! Is security important in your business or industry? Do you need to access private client information on the go? If you answered yes, consider getting started with a virtual data room today. Virtual data rooms keep important documents secure and easily accessible from anywhere. Learn more here."
                              socialshare-url="https://dataroomsearch.com"
                              socialshare-popup-height="600"
                              socialshare-popup-width="500"
                              socialshare-trigger="click">
                          <amp-img layout="fixed-height" height="15" src="/../../images/facebook.png" style="width: 30px;" alt="share on facebook">
                      </a>
                      <a class="font-bold" style="cursor: pointer;"
                                rel="nofollow"
                                socialshare
                                socialshare-provider="twitter"
                                socialshare-hashtags="virtualdatarooms, vdr, dataroom, MnA, MandA, DueDiligence"
                                socialshare-via="DataRoomSearch"
                                socialshare-text="Reviews of the top virtual data room services of 2018"
                                socialshare-url="https://dataroomsearch.com"
                                socialshare-popup-height="300"
                                socialshare-popup-width="400"
                                socialshare-trigger="click">
                          <amp-img layout="fixed-height" height="15" src="/../../images/twitter.png" style="width: 30px;" alt="share on twitter">
                      </a>
                      <a class="font-bold" style="cursor: pointer;"
                                rel="nofollow"
                                socialshare
                                socialshare-provider="google"
                                socialshare-type="sharer"
                                socialshare-url="https://dataroomsearch.com"
                                socialshare-popup-height="300"
                                socialshare-popup-width="400"
                                socialshare-trigger="click">
                                <amp-img layout="fixed-height" height="15" src="/../../images/googleplus.png" style="width: 30px;" alt="share on G+">
                              </a>
                      <a class="font-bold" style="cursor: pointer;"
                                rel="nofollow"  
                                socialshare
                                socialshare-provider="linkedin"
                                socialshare-text="The Complete Virtual Data Room Services Guide for 2018"
                                socialshare-url="https://dataroomsearch.com/"
                                socialshare-description="Attention new business owners! Is security important in your business or industry? Do you need to access private client information on the go? If you answered yes, consider getting started with a virtual data room today. Virtual data rooms keep important documents secure and easily accessible from anywhere. Learn how a virtual data room can solve your security and storage needs here."
                                socialshare-source="DataRoomSearch"
                                socialshare-popup-height="300"
                                socialshare-popup-width="400"
                                socialshare-trigger="click">
                                <amp-img layout="fixed-height" height="15" src="/../../images/linkedin.png" style="width: 30px;" alt="share on LinkedIn">
                      </a>
                      <a class="font-bold" style="cursor: pointer;"

                                rel="nofollow"  
                                socialshare
                                socialshare-provider="email"
                                socialshare-body="Hello! https://dataroomsearch.com"
                                socialshare-to="yourcolleague@yourbusiness.com"
                                socialshare-cc="yourothercolleague@yourbusiness.com"
                                socialshare-media="https://dataroomsearch.com/images/dataroomsearch-share.jpg"
                                socialshare-subject="Virtual Data Rooms Comparison - DataRoomSearch"
                                socialshare-popup-height="300"
                                socialshare-popup-width="400">
                                <amp-img layout="fixed-height" height="15" src="/../../images/email.png" style="width: 30px;" alt="share via email">

                      </a>
                    </div>
                      </p>
                      -->
                 <!-- {{ share.create(title='Sharing: ',sites='twitter, facebook, linkedin, google') }} -->
                  </div>
                
                <p>Starting a relationship with any business can be an experience full of uncertainty. And for a business-critical product like virtual data rooms, it can feel even more unnerving. This guide is designed to teach readers everything needed to make an informed choice when selecting a virtual data room for their business.</p>
                <p>If you already know enough about virtual data rooms to make a confident decision, we list our top recommendations here:</p>
                
                <h3>Top Virtual Data Room Providers</h3>
                <ol class="top-vdr-list">
                  <li><a href="#caplinked" >CapLinked (Best Overall)</a></li>
                  <li><a href="#securedocs" >SecureDocs (Best for Mergers & Acquisitions)</a></li>
                  <li><a href="#citrix-sharefile" >Citrix ShareFile (Best for Due Diligence)</a></li>
                  <li><a href="#onehub" >Onehub (Best for Real Estate)</a></li>
                  <li><a href="#smartroom" >SmartRoom (Best for Startups)</a></li>
                  <li><a href="#sharevault" >ShareVault (Best for Lawyers/CPAs)</a></li>
                </ol>        
                <p>We will cover these companies and what sets them apart in more detail below. We’ll also review many other options you should consider. But if you are new to using virtual data rooms or want to learn more, read on, and this guide will explain everything you need to know to make a smart decision.</p>
                
                <br id="what-is-a-virtual-data-room">
                <hr>
                
                <h2>Understanding Virtual Data Rooms</h2>
                
                <p>Before deciding which virtual data room best fits your situation and choosing a provider, it is a must to understand exactly what a virtual data room is, and why you might want to use one.</p>
                
                <hr style="max-width:50%;">

                <h3>What is a Virtual Data Room?</h3>
                <p>A <b>virtual data room</b>, <b>VDR</b>, or <b>data room</b> is an extremely secure cloud-based environment that enables users to conveniently share, store, and collaborate on sensitive data and files. Businesses typically use virtual data rooms to comply with industry standards, to share private data with clients, or to exchange documents with other businesses during large-scale, private transactions, such as a company acquisition or merger.</p>
                <p>Virtual data rooms, are inherently equipped with the most powerful internet security technology available, such as 256-bit encryption, multi-factor authentication, and document watermarking. With almost all data roms achieving such a high standard of security, the majority will be compliant with industry requirements in healthcare and sciences, such as HIPAA, or for the strict standards required for a company merger, like SSAE 16 Certification.</p>
                <p>While security is key for data rooms, their fundamental purpose is to share information. So all virtual data rooms will give users the ability to manage their documents within their interface, as well as manage who can access and edit the different documents and folders. Often, the data room will provide audit logs or user access history reports as well.</p>
                <p>Most virtual data rooms also come with basic collaboration tools to simplify the sharing of information. Examples of these collaboration features include document Q&A and data room messaging spaces.</p>
                <p>A few data room services include features to help businesses manage a large client base, which can be very useful in industries like Law, Real Estate Lending, and Financial Advice, where a business or professional could have a large number of clients who need to privately share their documents and personal information.</p>
                
               
                <br>
                <hr style="max-width:50%;">
                <br>
                
                <h3>What are the Reasons to Use a Virtual Data Room?</h3>  
                
                <p>As we covered in the section above, the main purpose of a virtual data room is secure file sharing. Why do you need a virtual data room for this? Don’t tools like Dropbox and Google Drive provide secure file sharing?</p>
                <p>While those tools are fairly secure and can be effective ways to store, share, and collaborate on documents, they aren’t quite as powerful or secure as industry standard data rooms. Furthermore, data rooms offer an isolated workspace, specifically dedicated to the project, client, or group they were created for.</p>
                <p>Extreme security and project compartmentalization aside, what are the reasons businesses use virtual data rooms? Here are a few scenarios where virtual data rooms are useful, if not absolutely necessary:</p>
                
                <h4>1. Sharing information during company mergers, acquisitions, or partnerships</h4>
                
                <p>During any merger or acquisition, an extensive due diligence process gives companies, the opportunity to review historical and financial documents of the company they are acquiring or merging with. Of course for companies with proprietary, sensitive, or valuable information, security is very important during this process.</p>
                <p>In M&A, the virtual data room serves as the secure online storage space and provides a secure method of sending this sensitive company information. But the data room does much more than provide security. The majority of virtual data rooms will simplify the collaboration process by providing features such as easy drag and drop upload, bulk upload, and meta-document commenting. Some virtual data rooms will go further still.</p>
                <p>Data room companies know that one of the common uses of a virtual data room is for the due diligence process in M&A. As such, many have made custom solutions that cater specifically to the needs of companies in the midst of a merger. These M&A specific features include user permission controls, question and answer tools, and document access reports.</p>
                <p>Virtual data rooms provide the ideal platform for M&A because they was inspired by the physical data rooms that were originally used when two companies performed the due diligence for an acquisition. Virtual data rooms were created to ease the costs associated with due diligence by providing the ability to remotely and securely view private documents. Historically, executives people who were critical to a deal were forced to coordinate their schedules and travel to a single location where they would review company information in a safe, secure, literal room.</p>
                
                <h4>2. Managing the due diligence process with investors</h4>
                
                <p>When an individual or venture capital firm invests in a company, there is usually a due diligence period, similar to due diligence process of M&A.</p>
                <p>The due diligence process usually begins after a formal investment offer is made. Typically this offer will contain contingencies, allowing the investor to back out of the deal if anything surprising and negative is found during this research process. Once the investor signs an NDA, they will be granted access to a virtual data room containing all of the relevant documents and data for the deal.</p>
                <p>With most data rooms, but especially with those designed for due diligence, once investors have access, the data room administrators will be able to control their document-level permissions, make and reply to comments on documents, and view reports that summarize who is using the data room and what they access.</p>
                
                <h4>3. Sending and receiving sensitive client information</h4>
                
                <p>For some professions, like lawyer and certified public accountant, it’s very common to send or receive documents from clients to perform work on their behalf. In many cases, these documents will contain the client’s personal information like social security numbers, financial data, and other private information.</p>
                <p>Rather than send these documents over email, which is usually only password protected (by a password that your client may be using for many accounts), it makes sense to use a virtual data room. This is because the extra security measures that data rooms employ ensure that these documents will not be accessed by outside parties.</p>
                <p>To see just how the data room makes this process more secure, consider the example of an individual starting a business with the help of their lawyer.</p>
                <p>Instead of using hard copies, most modern lawyers and law firms will keep digital copies of important documents. So to start receiving private information from you, these security-minded lawyers will usually send their clients a link to their unique data room (they might call this a workspace, but that is really all a data room is, so consider them one in the same).</p>
                <p>Once the client visits the link they will be asked to create a secure login, which will also take advantage of multi-factor authentication. This is security measure number 1.</p>
                <p>Next, when the client is logged in, they will be able to securely upload documents and then send them to the lawyer. This differs from sending by email, because once the client selects a document for upload, the data room immediately encrypts the document, even before it is uploaded. Security measure number 2.</p>
                <p>Security measure number 3 comes when the document is actually uploaded. The document is sent over an encrypted connection, to the provider’s servers. The encrypted connection adds a second layer of encryption protection.</p>
                <p>Once the document hits the provider’s servers, they will be physically protected by bodyguards, biometric entry systems, video surveillance, and secure locked vaults… seriously, this is true. Security measure(s) number 4.</p>
                <p>Finally, when the lawyer retrieves documents from the data room, the documents are sent via the same encryption process as when they were stored. And the lawyer may only access them via multi-factor authentication as well.</p>
                <p>All virtual data rooms that DataRoomSearch recommends will offer these security features, and some will offer even more. This level of security is far beyond what you should expect from a standard email system.</p>
                
                <h4>4. Increasing security within important departments of the organization</h4>
                
                <p>A data room could also be an excellent option if your company simply wants to increase security around certain documents or even departments of the organization.</p>
                <p>For example, a company may want to keep certain information safe, for instance a proprietary recipe or method. If this information ever needs to be access, members of the organization can log into the data room and view it from a completely secure environment without fear of cyber attack.</p>
                <p>It might also make sense for a company to store all of the company accounting department’s data or their client’s data in the data room to make sure that it never leaves the organization.</p>
                <p>Using the data room will protect it from outside attacker and even from internal threats. Features like download and access reports, screenshot blocking, user permissions, and document watermarking prevent company employees from abusing information within the data room.</p>
                


                <h4>5. Communicating with the board of directors</h4>

                <p>Many companies have a Board of Directors who aren’t a part of the organization’s day-to-day operations. These companies will often need to make private company performance metrics and other sensitive data available to remote members of the board.</p>
                <p>With so many security features inherently baked into virtual data rooms, they are a perfect medium for communications with board. Standard online file storage tools and email services have come a long way in terms of security in recent years, but as we’ve seen, they are not perfect. The main problem with using email a products like Box, Dropbox, or Drive for this type of communication is that they are only secure as their users. If a user often leaves their computer open and logged in or reuses passwords, there’s not much any email service or file sharing tool will do to prevent a breach there. However, with a virtual data room, administrators control session timeout password security settings, and multi-factor authentication is required for access.</p>
                <p>The data room will also provide collaboration features that ease the flow of information between the company’s Board and Managers. For instance, the questions-and-answer features with alerts help streamline communication for time-sensitive communication. Document access summaries will also clue in the data room manager about which board members are most active in the data room and where they spend their time.</p>

                <!-- <h4>6. Complying with industry security regulations</h4>
                
                <p></p>
                <p></p>
                <p></p> -->

<!--
        
                <div>
                      <p class="share-text">Share this section on understanding virtual data rooms</p>
                      <a class="font-bold" style="cursor: pointer;"
                              rel="nofollow"
                              socialshare
                              socialshare-provider="facebook"
                              socialshare-type="sharer"
                              socialshare-via="1600077343403234"
                              socialshare-media="https://dataroomsearch.com/images/dataroomsearch-share.jpg" 
                              socialshare-hashtags="#vdr, #virtualdatarooms, #MnA, #DueDiligence"
                              socialshare-title="Understanding Virtual Data Rooms"
                              socialshare-mobileiframe = "true"
                              socialshare-caption="What are virtual data rooms, and why should your business consider using one? Learn how virtual data rooms ensure security for businesses and clients and whether a data room could improve your business."
                              socialshare-url="https://dataroomsearch.com/"
                              socialshare-popup-height="600"
                              socialshare-popup-width="500"
                              socialshare-trigger="click">
                          <amp-img layout="fixed-height" height="15" src="/../../images/facebook.png" style="width: 30px;" alt="share on facebook">
                      </a>
                      <a class="font-bold" style="cursor: pointer;"
                                rel="nofollow"
                                socialshare
                                socialshare-provider="twitter"
                                socialshare-hashtags="virtualdatarooms, vdr, dataroom, MnA, MandA, DueDiligence"
                                socialshare-via="DataRoomSearch"
                                socialshare-text="What are virtual data rooms?"
                                socialshare-url="https://dataroomsearch.com/#what-is-a-virtual-data-room"
                                socialshare-popup-height="300"
                                socialshare-popup-width="400"
                                socialshare-trigger="click">
                          <amp-img layout="fixed-height" height="15" src="/../../images/twitter.png" style="width: 30px;" alt="share on twitter">
                      </a>
                      <a class="font-bold" style="cursor: pointer;"
                                rel="nofollow"  
                                socialshare
                                socialshare-provider="google"
                                socialshare-url="https://dataroomsearch.com/#what-is-a-virtual-data-room"
                                socialshare-popup-height="300"
                                socialshare-popup-width="400"
                                socialshare-trigger="click">
                                <amp-img layout="fixed-height" height="15" src="/../../images/googleplus.png" style="width: 30px;" alt="share on G+">
                              </a>
                      <a class="font-bold" style="cursor: pointer;"
                                rel="nofollow"
                                socialshare
                                socialshare-provider="linkedin"
                                socialshare-text="Understanding Virtual Data Rooms"
                                socialshare-url="https://dataroomsearch.com/#what-is-a-virtual-data-room"
                                socialshare-description="What are virtual data rooms and are they necessary for your business?"
                                socialshare-source="720kb"
                                socialshare-popup-height="300"
                                socialshare-popup-width="400"
                                socialshare-trigger="click">
                                <amp-img layout="fixed-height" height="15" src="/../../images/linkedin.png" style="width: 30px;" alt="share on LinkedIn">
                      </a>
                      <a class="font-bold" style="cursor: pointer;"
                                rel="nofollow"
                                socialshare
                                socialshare-provider="email"
                                socialshare-body="Hello! https://dataroomsearch.com"
                                socialshare-to="yourcolleague@yourbusiness.com"
                                socialshare-cc="yourothercolleague@yourbusiness.com"
                                socialshare-media="https://dataroomsearch.com/images/dataroomsearch-share.jpg"
                                socialshare-subject="Understanding Virtual Data Rooms - DataRoomSearch"
                                socialshare-popup-height="300"
                                socialshare-popup-width="400">
                                <amp-img layout="fixed-height" height="15" src="/../../images/email.png" style="width: 30px;" alt="share via email">

                      </a>
                    </div>

      -->
                <br id="dataroomlist">
                <hr>

                <h2>Reviews of the Top Virtual Data Room Companies</h2>
                <p>Below is a list of the top data room providers, based off of research and product trials by the DataRoomSearch team.</p>
 
                <br>
                <hr style="max-width:50%;">
                <!-- share -->
                {{ share.create(title='Share with: ',sites='twitter, facebook, linkedin, google') }}
              </div>
          </div>
      </section>
      
      <!--- Product List -->
{% for product in products.data %}
  <section class="container">
      <br>
            <div class="row">
              <div>
                <h3><a style="text-decoration: none;" href="https://dataroomsearch.com/virtual-data-room-provider/{{product.urlSlug}}" >{{product.name}}</a></h3>
                <amp-img layout="fixed-height" height="15" class="img-logo" src="{{product.logoURL}}">
              </div>
              <div style="margin: 50px 50px 0px;font-size: 1.75rem;">
                <span style="text-decoration:underline;font-weight:800;">Pricing Overview</span><br><br>
                <span>{{product.price}}</span>
              </div>
              <div style="margin: 50px 50px 0px;font-size: 1.75rem;">
                <div>
                  <span style="font-weight:800;text-decoration:underline;">Average Review</span><br>
                  <amp-img layout="fixed-height" height="15" style="padding: 5px;" src="images/{{product.avg_review_img}}">
                  <br>
                  <span style="color:#777;"><span style="color:#777;">{{product.avg_review_rating}}</span> from <span>{{product.num_reviews}}</span> Reviews</span>
                </div>
              </div>
            </div>
            <br>
            <hr>
            <div >
              <p style="text-align: left; font-size: 14px;">{{product.description.main}}</p>
            </div>
            <div>
              <p style="text-align:center;"><a href="https://dataroomsearch.com/virtual-data-room-provider/{{product.urlSlug}}">Read Full {{product.name}} Review</a></p>
            </div>
  </section>
{% endfor %}

	<section class="container">  
            <div>
                <div>
                  <div>
                  <span>Targeted Solutions</span>
                  <h2 class="md-display-1">Find The Right Solution for Your Use Case or Industry</h2>
                  </div>
                </div>
                <span></span>
                <div>
                  <p>You wouldn't use a spreadsheet to manage the union of two major corporations. Using a tool that is too simplified won’t get the job done.</p>
                  <p>So before choosing which provider is best suited for your business need, it’s important to define exactly what that need is. Why do you need a virtual data room? Is this need related to compliance requirements or best practices of your industry? Many VDR providers actually offer their products packaged into unique solutions, with features specific to each industry. For instance, businesses within the pharmaceutical industry are held to strict compliance standards, and certain virtual data rooms are designed to help ensure that these companies follow these standards. And legal practices may use different virtual data rooms for a number of different clients. Lucky for them, there are providers that offer platforms to manage multiple clients and multiple data rooms.</p>
                  <p>Find more information about VDR solutions for your industry:</p>
                  <ul>
                    <li>Insurance</li>
                    <li>Finance</li>
                    <li>Biomedical</li>
                    <li>VDR solutions for all industries…</li>
                  </ul>
                  <p>Similarly, providers frequently design data rooms with specific business use cases in mind, rather than for a particular industry. In fact, business of all industries often use virtual data rooms to share information with board members or to handle the private data sharing associated required during major corporate events, such as mergers and acquisitions or initial public offerings.</p>
                  <p>Read more about the VDR solutions for specific business needs:</p>
                  <ul>
                    <li>M&A</li>
                    <li>Board Communication</li>
                    <li>Venture Capital</li>
                    <li>VDR solutions for all business use cases…</li>
                  </ul>
                  <p>Even when catering to specific business needs or industries, virtual data rooms may differ in the features that they offer. Read on to learn about the features of virtual data rooms…</p>
                </div>
            </div>
            <div>
                <div>
                  <div>
                  <span>Key Features</span>
                  <h2 class="md-display-1">Defining Your Feature Requirements</h2>
                  </div>
                </div>
                <span></span>
                <div>
                  <p>When comparing different virtual data rooms, it’s helpful to have an understanding of which features are industry standard and which are actually unique to a select group of providers. It can be difficult to identify which features are truly special or just basic when learning about a product on the vendor’s website. Reviewing the full spectrum of capabilities available to you from all providers will make it much easier to spot where certain VDR fall short.</p>
                  <p>While the full list of possible features is very long, most capabilities of a virtual data room can be grouped into a few categories. For some, strong security and some basic file sharing flexibility are enough. However, some providers offer very advanced features, which you should be aware of before making your decision, as some of these features can be major time and money savers.</p>
                  <p>Below are the broad feature categories. Click to learn more about what is available in each group:</p>
                  <ul>
                    <li>Security</li>
                    <li>Compliance</li>
                    <li>Document Management</li>
                    <li>User/Permissions Management</li>
                    <li>Accessibility</li>
                    <li>more</li>
                  </ul>
                </div>
            </div>
            <div>
                <div>
                  <div>
                    <span>Pricing</span>
                    <h2 class="md-display-1">How to Evaluate Virtual Data Room Pricing</h2>
                  </div>
                </div>
                <span></span>
                <div>
                    <p>How much you should expect to pay for your virtual data room will again go back to your use case. However, there is no simple formula for calculating a “fair price” for your virtual data room. But understanding how providers typically define pricing for their products will help you find the right price and spot expensive packages during your research.</p>
                    <p>Most providers will charge their users on a monthly basis, and charge based on the # of users and/or storage space. Sometimes, providers will offer a number of ‘specialty’ features that cost more, but could be very helpful in certain circumstances. To figure out a reasonable cost, evaluate where you fall on the spectrum of these factors:</p>
                    <ul>
                      <li># of users</li>
                      <li>amount of storage</li>
                      <li>duration of use</li>
                      <li>necessary add-on features</li>
                    </ul>
                    <p>For reference, it might help to look at two products on either end of the spectrum. OneHub offers a smaller package that includes 3 users and 1 terabyte of storage for less than $30/month. On the other end, Citrix ShareFile has a large package with unlimited users and unlimited storage for $295/month. Neither of these packages are tailored to a specific industry, nor do they include add-on features. However, these products demonstrate the range of pricing most companies should expect for basic VDR use cases.</p>
                    <p>The information here is greatly simplified for succinctness. If you’d like more information about how to evaluate the cost of virtual data rooms, check out our complete VDR pricing guide…
                    </p>
                </div>
            </div>
	</section>
  <script type="application/ld+json">
    {
  "@context": "http://schema.org",
  "@type": "Website",
  "headline": "2018 Best Virtual Data Rooms Comparison",
  "alternativeHeadline": "Best Virtual Data Rooms",
  "url": "https://dataroomsearch.com",
  "image": "https://dataroomsearch.com/images/dataroomsearch-share.jpg",
  "datePublished": "03/01/2018",
  "dateModified": "08/11/2018",
  "author": {
  "@type": "Organization",
  "name": "DataRoomSearch.com",
     "logo": "https://dataroomsearch.com/images/dataroomsearch-logo.jpg",
     "email": "dataroomsearch@gmail.com",
     "foundingDate": "December, 19, 2016",
     "foundingLocation": "California",
     "sameAs": ["https://www.facebook.com/DataRoomSearch",
       "https://twitter.com/DataRoomSearch",
       "https://plus.google.com/u/1/100542976820697061487",
       "https://www.linkedin.com/company/DataRoomSearch"]
  },
  "mainEntity":{
  "@type": "ItemList",
  "url": "https://dataroomsearch.com/#data-rooms-providers",
  "numberOfItems": "20",
  "name": "Virtual Data Room Providers",
  "itemListElement": [{
      "@type": "listItem",
      "position": "1",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/CapLinked-virtual-data-room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/CapLinked",
      "name": "CapLinked"
      }
    }, {
      "@type": "listItem",
      "position": "2",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/ansarada-virtual-data-room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/Ansarada",
      "name": "Ansarada"
      }
    }, {
      "@type": "listItem",
      "position": "3",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/Citrix-ShareFile-Virtual-Data-Room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/Citrix-ShareFile",
      "name": "Citrix ShareFile"
      }
    }, {
      "@type": "listItem",
      "position": "4",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/iDeals-Virtual-Data-Room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/iDeals",
      "name": "iDeals"
      }
    }, {
      "@type": "listItem",
      "position": "5",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/docurex-virtual-data-room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/docurex",
      "name": "docurex"
      }
    }, {
      "@type": "listItem",
      "position": "6",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/Onehub-virtual-data-rooms.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/Onehub",
      "name": "Onehub"
      }
    }, {
      "@type": "listItem",
      "position": "7",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/iDGARD-virtual-data-room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/iDGARD",
      "name": "iDGARD"
      }
    }, {
      "@type": "listItem",
      "position": "8",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/Firmex-virtual-data-rooms.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/Firmex",
      "name": "Firmex"
      }
    }, {
      "@type": "listItem",
      "position": "9",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/Sterling-VDR-virtual-data-rooms.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/Sterling-VDR",
      "name": "Sterling VDR"
      }
    }, {
      "@type": "listItem",
      "position": "10",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/IntraLinks-Dealspace-virtual-data-room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/IntraLinks",
      "name": "IntraLinks"
      }
    }, {
      "@type": "listItem",
      "position": "11",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/SmartRoom-virtual-data-room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/SmartRoom",
      "name": "SmartRoom"
      }
    }, {
      "@type": "listItem",
      "position": "12",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/ShareVault-Enterprise-virtual-data-room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/ShareVault",
      "name": "ShareVault"
      }
    }, {
      "@type": "listItem",
      "position": "13",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/Merrill-Datasite-virtual-data-room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/Merrill-Datasite",
      "name": "Merrill Datasite"
      }
    }, {
      "@type": "listItem",
      "position": "14",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/datarooms.com-virtual-data-room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/Datarooms.com",
      "name": "Datarooms.com"
      }
    }, {
      "@type": "listItem",
      "position": "15",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/RR-Donnelley-Venue.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/RR-Donnelley-Venue",
      "name": "RR Donnelley Venue"
      }
    }, {
      "@type": "listItem",
      "position": "16",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/Lightserve-virtual-data-room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/Lightserve",
      "name": "Lightserve"
      }
    }, {
      "@type": "listItem",
      "position": "17",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/SecureDocs-Virtual-Data-Room.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/SecureDocs",
      "name": "SecureDocs"
      }
    }, {
      "@type": "listItem",
      "position": "18",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/Drooms-virtual-data-rooms.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/Drooms",
      "name": "Drooms NXG"
      }
    }, {
      "@type": "listItem",
      "position": "19",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/HighQ-Dataroom.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/HighQ",
      "name": "HighQ"
      }
    }, {
      "@type": "listItem",
      "position": "20",
      "item": {
      "@type": "Product",
      "image": "https://dataroomsearch.com/images/V-Rooms-virtual-data-room-logo.jpg",
      "url": "https://dataroomsearch.com/virtual-data-room-provider/V-Rooms",
      "name": "V-Rooms"
      }
    }
  ]
}
};
  </script>

{% endblock %}